.text-cursive {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
}

.caption {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

// Text Title
.text-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
}

.text {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;

  @media screen and (max-width: 400px) {
    font-size: 1.2rem;
    line-height: 1.5rem;
    @media screen and (min-height: 800px) {
      font-size: 1.5rem;
      line-height: 1.8rem;
    }
  }
}
